<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feyzullah.frsatyakala" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".YorumActivity"
            android:label="@string/title_activity_yorum"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AyarlarActivity"
            android:label="@string/title_activity_ayarlar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".YeniPaylasimActivity"
            android:label="@string/title_activity_yeni_paylasim"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".YeniYorumActivity"
            android:label="@string/title_activity_yeni_yorum"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ResimGalerisi"
            android:label="@string/title_activity_resim_galerisi"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PaylastiklarimActivity"
            android:label="@string/title_activity_paylastiklarim" >
        </activity>
        <activity
            android:name=".SohbetActivity"
            android:label="@string/title_activity_sohbet" >
        </activity>
    </application>

</manifest>
